:root {
    --branding-color: #d1e8e2;
    --secondary-color: #116466;
}

.header-hero {
    margin: 150px;
    background-color: var(--branding-color);
    border-radius: 20px;
}

h1 {
    font-size: 60px;
}

h1, h2, h3, p {
    text-align: center;
    line-height: 2;
}

img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

p {
    margin: 25px 30px;
}

.description-appearance {
    background-color: var(--branding-color);
    padding: 15px 20px;
    border-radius: 20px;
    margin: 20px 0;
}

.description-appearance h3 {
    font-weight: bold;
    text-decoration: underline;
    color: var(--secondary-color);
}

.description-img {
    padding: 15px 20px;
    margin: 20px 0;
}

.description-projects {
    border: 3px solid var(--secondary-color);
    margin: 0 auto;
}

.btn-appearance {
    color: var(--branding-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    background-color: var(--branding-color);
    border: 1px solid var(--secondary-color);
}

footer {
    margin: 100px 0 25px 0;
}

footer .footer-social a {
    margin: 0, 30px;
    padding: 15px;
    border-radius: 25%;
    font-size: 35px;
    color: var(--branding-color);
    background-color: white;
}

footer .footer-social a:hover {
    color: var(--secondary-color);
}

footer .footer-github a {
    display: block;
    font-size: 15px;
}

@media (max-width: 576px) {
    img {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    .description-appearance, .header-hero {
        background-color: white;
        padding-top: 35px;
        margin: 15px 0;
    }
    .description-projects {
        border: none;
    }
}